
.body {
  max-width: 1440px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 92px 50px;
}

.header__links {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  column-gap: 4px;
  margin: auto 0;
  color: #000;
  font-family: Arial;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__links_active {
  /*border-bottom: solid 1px;*/
  text-underline-position: under;
  text-decoration: underline;
}

.logo {
  width: 148px;
  height: 105px;
  margin-right: 130px;
}

.header__marker {
  width: 7px;
  height: 7px;
  margin: auto 8px;
}

.header__contacts {
  width: 240px;
  list-style-type: none;
  color: #000;
  font-family: Raleway;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.cover {
  margin: 0;
  display: flex;
  flex-direction: column;
  /*place-items: start; /*center center;*/
  justify-content: center;
  height: 740px;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  /*margin-bottom: 180px;*/
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  margin: 105px 0 0 0;
  color: #fff;
  font-family: Raleway;
  font-size: 6.25em;
  font-style: normal;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
  text-align: center;
}

.cover__title_center {
  text-align: center;
  padding-right: 50px;
  word-spacing: -.4ch;
}

.cover__title_left {
  text-align: left;
  padding-left: 50px;
  word-spacing: -.4ch;
}

.cover__title_right {
  text-align: right;
  margin-right: 30px;
  word-spacing: -.4ch;
}

.cover__buttons {
  display: flex;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
  margin-top: 135px;
  gap: 78px;
  justify-content: flex-end;
  align-items: center;
}

.cover__subtitle {
  width: 633px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.cover__button {
  background-color: inherit;
  width: 257px;
  min-height: 52px;
  border: 1px solid;
  letter-spacing: normal;
  padding: 12px;
  margin-right: 50px;
}

.lots {
  margin-top: 180px;
}

.lots__title {
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-left: 90px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 430px);
  grid-column-gap: 25px;
  width: 1340px;
  margin: auto;
  text-align: center;
}

.card {
  position: relative;
  list-style-type: none;
  width: 100%;
  min-height: 450px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
}

.card__title {
  color: #fff;
  text-align: left;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-decoration-line: underline;
  text-transform: uppercase;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.card__subtitle {
  color: #fff;
  text-align: left;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; 
  align-items: end;
  margin-bottom: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.card_film {
  /*background-image: url(../images/card-lot-01.jpg);*/
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.card_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.card_map {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.lots__subtitle {
  margin-left: 90px;
  margin-top: 30px;
  color: #000;
  font-family: Raleway;
  text-decoration-line: underline;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 240px 240px;
  gap:7px 20px;
  margin: 181px 50px 178px 50px;
}

.about__column {
  margin:  auto;
  grid-row: 1;
  grid-column: 1;
}

.about__logo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  grid-row: 1;
  grid-column: 1;
}

.about__logo-image {
  margin-top: 60px;
  align-items: center;
  width: 148px;
  height: 114px;
  grid-row: 1;
  grid-column: 1;
  justify-content: center;
  align-items: center;
}

.about__name {
  margin-top: 100px;
}

.about__title {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: grid;
  grid-row: 2/2;
  grid-column: 2/2;
  font-size: 20px;
}

.about__text p {
  margin-top: 25px;
}

.about__text p:first-child {
  margin-top: 100px;
}

.footer {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: space-between;
  margin-bottom: 100px;
}

.footer__chapters {
  list-style-type: none;
}

.footer__chapter {
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__contact {
  text-underline-position: under;
  text-decoration: underline;
}

.footer__chapter_active {
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-underline-position: under;
  text-decoration: underline;
  /*border-bottom: 1px solid;*/
  
}

.footer__socials {
  display: flex;
  gap: 48px;
  list-style-type: none;
}

.footer__social {
  width: 48px;
  height: 48px;
}
